* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.1rem;
  background-color: #23233b;
}

a {
  color: white;
  font-size: inherit;
  font-size: inherit;
}

h1 {
  font-size: 3.5rem;
}

p {
  line-height: 2rem;
}

.header {
  min-height: 100vh;
}

.small-title {
  border-bottom: 2px solid #fe1a95;
  display: inline-block;
  padding-bottom: 0.4rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  border-bottom: 1px solid #2e344e;
  padding: 0 10rem;
  background-color: #1d1d34;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 1rem;
}

.logo {
  width: 50px;
}

.logo svg {
  width: 100%;
}

.cart {
  width: 50px;
  position: relative;
}

.cart img {
  width: 100%;
}

.number {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  font-size: 10px;
  width: 20px;
  height: 20px;
  background-color: #fe1a95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  min-height: 90vh;
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.left {
  position: relative;
}

.left-content {
  position: absolute;
  left: 0;
  top: 7%;
  width: 97%;
}

.left-content p {
  padding: 1rem 0;
}

.name {
  color: white;
  opacity: 0.7;
  margin-bottom: 1.3rem;
}

.btn {
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}

.main-btn {
  background-color: #fe1a95;
}

.right {
  position: relative;
}

.right .hero {
  position: absolute;
  top: 10%;
  right: 0;
  width: 90%;
}

/* Sections */
.section {
  padding: 5rem 10rem;
  background-color: #171a38;
}

.title {
  text-align: center;
}

.title2 {
  position: relative;
  padding-bottom: 2rem;
  display: inline-block;
  font-size: 2rem;
}

.title2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  background-color: #fe1a95;
  height: 2px;
  transform: translateX(-50%);
}

.featured-para {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 2.5rem 0;
}

.btn-con {
  text-align: center;
}

.cards-con {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.card {
  background-color: #fff;
  color: #1d1d34;
  border-radius: 20px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.card:hover {
  box-shadow: 7px 20px 22px rgba(0, 0, 0, 0.63);
  transform: translateY(-9px);
}

.image {
  position: relative;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

/* .image img:hover {
  transform: scale(1.1);
} */

.card p {
  color: #555;
}

.card-body {
  padding: 1rem 1.7rem;
}

.price {
  position: absolute;
  bottom: 0;
  left: 3%;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 0.95rem;
}

.card-s-title {
  text-transform: uppercase;
  font-weight: 500;
  color: #777;
  font-size: 1rem;
}

.card-title {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.rating {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.stars {
  display: flex;
}

.stars img {
  width: 25px;
}

.reviews p {
  color: #777;
  padding-left: 1rem;
}

.card-bottom {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.duration {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.duration .time,
.duration .likes {
  display: flex;
  align-items: center;
}

.time {
  padding-right: 1.2rem;
}

.duration img {
  width: 20px;
  margin-right: 0.4rem;
}

.btn-enroll {
  border: 2px solid #fe1a95;
  color: #fe1a95;
  padding: 0.3rem 1.5rem;
  border-radius: 30px;
  display: inline-block;
  align-self: center;
  margin-right: 0.8rem;
  transition: all 0.4s ease-in-out;
}

.btn-enroll:hover {
  background-color: #fe1a95;
  color: #fff;
}

/* Section 2 */
.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 300px;
  width: 100%;
}

.section2 .left {
  background-image: url(../img/course7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.section2 .right-content {
  padding: 7rem 3rem;
}

.section2 .featured-para {
  text-align: left;
  margin: 0;
  width: 100%;
}

.section2 .title2 {
  text-align: left;
  margin: 0;
  width: 100%;
}

.section2 .title2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 27%;
  background-color: #fe1a95;
  height: 2px;
  transform: translateX(0);
}

.section2 .btn-con {
  text-align: left;
}

/* Bootcamps Section */
.bootcamp-section {
  background-color: #f6f6f6;
  color: #4e4e65;
}

.bootcamp-section a {
  color: #fff;
}

.bootcamp-section .title2,
h5 {
  color: #fe1a95;
}

.b-camp-content h5 {
  font-size: 1.5rem;
}

.b-camp-content p {
  font-size: 1rem 0;
}

.bootcamps {
  display: grid;
  padding: 4rem 0;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.bootcamp {
  background-color: #fff;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
}

.bootcamp:hover {
  transform: translateY(-9px);
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #43d7b5;
  color: #fff;
}

.b-camp-content {
  padding: 2rem 1.5rem;
}

.b-camp-content .btn-enroll {
  color: #fe1a95;
}

.b-camp-content .btn-enroll:hover {
  color: #fff;
}

/* Reviews Section */
.reviews-section {
  background-color: #43d7b5;
}

.reviews-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.review-text {
  padding: 1rem 0;
  font-size: 1.4rem;
}

.review-name {
  color: rgb(241, 241, 241);
}

.reviews-content .stars {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.reviews-content .stars img {
  width: 40px;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot,
.dot2,
.dot3 {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #171a38;
  margin: 1rem 0.2rem;
}

.dot2,
.dot3 {
  background-color: #171a3896;
}

/* Blogs Section */
.blogs-con {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 15rem;
}

.blog {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  color: #4e4e65;
  margin-top: 4rem;
  cursor: pointer;
}

.blog:hover {
  transform: translateY(-9px);
  box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.365);
}

.blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 2rem 1.5rem;
}

.b-name {
  color: #43d7b5;
}

.blog-content h4 {
  color: #171a38;
  padding: 1rem 0;
}